body {
 text-align:center;   
 font-family: 'Indie Flower', cursive;
background-color:black;
}

img {
 height:200px;   
}

.images{
 margin-top:200px;   
}
input{
    width:140px;
}
h1{
    border:5px solid rosyBrown;
    color:paleVioletRed;
}
p {
    color:white;
}
